/* здесь используйте глобальные селекторы img, body, html и так далее */

body {
  font-family: "lato", "Arial", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
