/* здесь используйте глобальные переменные */

$color-green: #68b738;
$color-green-hover: #5eaa2f;
$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #111111;
$color-black-2: #222222;
$color-black-3: #3e3e3e;
$color-black-6: #6b6b6b;
$color-dark-gray: #444444;
$color-dark-gray-2: #666666;
$color-basic-gray: #f2f2f2;
$color-special-gray: #cdcdcd;
$color-special-gray-2: #d9d9d9;
$color-special-gray-3: #e7e7e7;
