.advantages {
  @media (min-width: $tablet-width) {
    position: relative;
    --is-underline: "";
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  &::after {
    position: absolute;
    content: var(--is-underline, none);
    height: 1px;
    width: 100%;
    background-color: $color-special-gray-6;
    bottom: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      margin-left: -30px;
      padding-right: 60px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.advantages__title {
  color: $color-black;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 20px 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 45px 0 32px;
  }
}

.advantages__list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
  counter-reset: num;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px 133px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-bottom: 69px;
  }
}

.advantages__item {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  position: relative;

  &--icon_leaf {
    --icon-shape: url("../../icons/stack.svg#leaf");
  }

  &--icon_powder {
    --icon-shape: url("../../icons/stack.svg#powder");
  }

  &--icon_cutlery {
    --icon-shape: url("../../icons/stack.svg#cutlery");
  }

  &--icon_alarm {
    --icon-shape: url("../../icons/stack.svg#alarm");
  }

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    order: -1;
    background-color: $color-green;
    background-image: var(--icon-shape);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }


  @media (min-width: $tablet-width) {
    min-height: 280px;
    width: 246px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 40px 0 57px;
    gap: 31px;
    box-sizing: border-box;

    &::before {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      top: 0;
      left: 117px;
      color: $color-basic-gray;
      text-align: center;
      z-index: -1;
    }
  }
}

.advantages__text {
  padding: 2px 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }
}
