.advantages {
  margin: 0 20px 39px;
}

.advantages__title {
  color: $color-black;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0;
}

.advantages__item {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  gap: 20px;

  &--icon_leaf {
    --icon-shape: url("../../icons/stack.svg#leaf");
  }

  &--icon_powder {
    --icon-shape: url("../../icons/stack.svg#powder");
  }

  &--icon_cutlery {
    --icon-shape: url("../../icons/stack.svg#cutlery");
  }

  &--icon_alarm {
    --icon-shape: url("../../icons/stack.svg#alarm");
  }

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    order: -1;
    background-color: $color-green;
    background-image: var(--icon-shape);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
  }
}

.advantages__text {
  padding: 2px 0;
  display: block;
}
