.button {
  background-color: $color-green;
  color: $color-white;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  padding: 10px 0;

  &:hover {
    background-color: $color-green-hover;
  }

  &:active {
    background-color: $color-green-hover;
    color: rgba(255, 255, 255, 0.3);
  }
}
