.cat-program {
  position: relative;
  grid-area: cat-program;
  padding: 22px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 22px 26px 25px;
    border: 1px solid #e7e7e7;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    box-sizing: border-box;
    padding: 24px 28px;
    margin-bottom: 70px;
  }
}

.cat-program::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-special-gray-2;
  left: 0;
  bottom: 0;
  margin-left: -20px;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cat-program__list {
  gap: 13px;
}
