.cat-program {
  position: relative;
  grid-area: cat-program;
}

.cat-program::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-special-gray-2;
  left: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cat-program .form__item {
  height: 30px;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

