.cat-data {
  position: relative;
  grid-area: cat-data;
  padding: 0 0 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 0;
  }
}

.cat-data::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-special-gray-2;
  left: 0;
  bottom: 0;
  margin-left: -20px;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cat-data input {
  padding: 12px 15px 13px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }
}

.cat-data .form__name {
  margin-right: 13px;
  white-space: nowrap;
  align-self: center;
}

.cat-data .form__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
