.cat-program {
  position: relative;
  grid-area: cat-program;
  padding: 22px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 23px 27px 27px;
    border: 1px solid $color-special-gray-3;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    box-sizing: border-box;
    padding: 24px 28px;
  }
}

.cat-program::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-special-gray-2;
  left: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cat-program .form__list {
  gap: 13px;
}
