.catalog {
  position: relative;
}

.catalog::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-black;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.catalog__product {
  //
}

.catalog__extra {
  //
}
