.catalog {
  position: relative;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-black;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 28px 0 41px;
  position: relative;

  @media (max-width: $mobile-only) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
      top: -28px;
      left: -20px;
      padding-inline: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
      bottom: -41px;
      left: -20px;
      padding-inline: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 65px 0 165px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.catalog__product {
  //
}

.catalog__extra {
  //
}
