.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    padding: 60px 80px;
    background-color: $color-white;
    margin: 95px auto auto 110px;
  }
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.contacts__address-wraapper {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    justify-content: space-between;
  }
}

.contacts__address {
  //
}

.contacts__city {
  //
}

.contacts__map {
  display: block;
  width: 100%;
  object-fit: cover;
}

.contacts__wrapper--background {
  background-color: $color-basic-gray;
}
