.copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  margin: 20px 0 0;
}

.copyright__name {
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 20px;
}

.copyright__logo {
  fill: $color-dark-gray;
}
