.copyright {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $color-special-gray-2;
    top: -20px;
    left: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  margin: 20px 0 0;
  position: relative;

  &:hover {
    .copyright__logo {
      background-color: $color-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 20px;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#html-academy");
  background-color: $color-dark-gray-2;
  mask-position: center;
  mask-repeat: no-repeat;
}
