.diet {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  padding: 0 20px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    padding: 0 110px;
    margin: 0 auto;
    width: 1440px;
    box-sizing: border-box;
  }
}

.diet__item {
  background-color: $color-basic-gray;
  position: relative;
  display: flow-root;
  padding: 30px 33px 18px 20px;
  min-width: 280px;
  box-sizing: border-box;

  &--icon_sit {
    --icon-shape: url("../../icons/stack.svg#cat-sitting");
  }

  &--icon_stand {
    --icon-shape: url("../../icons/stack.svg#cat-going");
  }

  &::before {
    content: "";
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    background-image: var(--icon-shape);
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 200px;
      height: 200px;
      right: 63px;
      top: 81px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: auto;
    background-color: $color-special-gray-2;
    left: 20px;
    right: 20px;
    bottom: 57px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.diet__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
  margin: 0 0 29px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.diet__text {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.diet__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  padding: 4px 47px 4px 0;
  margin-top: 38px;
  gap: 15px;

  &:hover {
    --icon-position: 0;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    align-self: center;
    background-image: url("../../icons/stack.svg#arrow");
    background-position: var(--icon-position, -8px);
    background-repeat: no-repeat;
    width: 32px;
    height: 12px;
    transition: 0.1s ease-in-out;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
