.diet {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  padding: 0 20px;
  gap: 20px;
}

.diet__item {
  background-color: $color-basic-gray;
  position: relative;
  padding: 30px 33px 18px 20px;
}

.diet__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-black;
  margin: 0 0 0 70px;
  padding: 0;
}

.diet__text {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 18px;
}

.diet__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;

  &:hover {
    //
  }

  &:active {
    opacity: 0.3;
  }
}

.diet__icon {
  margin-left: 15px;
}

.diet__item--icon_sit {
  background-image: url("../../images/icons/stack.svg#cat-sitting");
  background-size: 50px 53px;
  background-position: 20px 21px;
  background-repeat: no-repeat;
}

.diet__item--icon_stand {
  background-image: url("../../images/icons/stack.svg#cat-going");
  background-size: 67px 50px;
  background-position: 13px 24px;
  background-repeat: no-repeat;
}
