.example-price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin: 0 auto 20px;
}

.example-price__text {
  //
}

.example-price__value {
  margin: 0;
}
