.example-price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 186px;
  margin: 30px auto 0;
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    flex-direction: column;
    text-align: end;
    margin: auto 0 auto auto;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0;
    width: auto;
    max-width: 366px;
    gap: 66px;
    justify-content: flex-start;
  }
}

.example-price__text {
  //
}

.example-price__value {
  margin: 0;
}
