.example-price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    text-align: end;
    margin: 0 0 0 auto;
  }
}

.example-price__text {
  //
}

.example-price__value {
  margin: 0;
}
