.extra {
  //
}

.extra__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  gap: 20px;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.extra__title::after {
  content: "";
  height: 2px;
  width: 100%;
  margin-top: 15px;
  margin-right: -20px;
  background-color: $color-green;
}

.extra__list {
  list-style: none;
}

.extra__item {
  //
}

.extra__name {
  font-family: "Oswald", sans-serif;
  color: $color-black-2;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra__quantity {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 14px;
}

.extra__price {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 14px;
}

.extra__button {
  //
}

.extra__gift {
  //
}

// modifical

.extra__item--sugar {
  //
}

.extra__item--water {
  //
}

.extra__item--milk {
  //
}

.extra__item--vitamin {
  //
}
