.extra {
  //
}

.extra__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 24px;
  line-height: 24px;
}

.extra__list {
  list-style: none;
}

.extra__item {
  //
}

.extra__name {
  font-family: "Oswald", sans-serif;
  color: $color-black-2;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra__quantity {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 14px;
}

.extra__price {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 14px;
}

.extra__button {
  //
}

.extra__gift {
  //
}

// modifical

.extra__item--sugar {
  //
}

.extra__item--water {
  //
}

.extra__item--milk {
  //
}

.extra__item--vitamin {
  //
}
