.footer {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  //
}

.footer__navigation {
  background-color: $color-basic-gray;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 20px;
  position: relative;
}

.footer__navigation::after {
  position: absolute;
  content: "";
  height: 1px;
  width: auto;
  background-color: $color-special-gray-2;
  top: 84px;
  left: 20px;
  right: 20px;
}

.footer__navigation .logo {
  margin: 0 auto;
  width: 128px;
  height: 24px;
  margin-bottom: 20px;
  mask-image: url("../../images/icons/logo-cat-energy.svg");
  background-color: $color-black-1;
  mask-repeat: no-repeat;
  mask-position: center;

  &:hover {
    background-color: $color-black-3;
  }

  &:active {
    background-color: $color-black-6;
  }
}
