.footer {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  //
}

.footer__navigation {
  background-color: $color-basic-gray;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 55px;
    margin-bottom: 55px;
    min-height: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
    margin-bottom: 66px;
  }
}

.footer__logo {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $color-special-gray-2;
    bottom: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    align-self: center;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__wrapper {
  background-color: $color-basic-gray;
}
