.form-comment {
  grid-area: form-comment;
  display: grid;
  gap: 38px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    gap: 87px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form-comment__textarea {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  border: 1px solid $color-special-gray-3;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  height: 150px;
  padding: 14px;
  resize: vertical;
}
