/* stylelint-disable max-nesting-depth */
.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas: "cat-data cat-program" "data-person data-person" "form-comment form-comment" "form-extra form-extra" "form__button-wrapper form__button-wrapper";
    gap: 0 80px;
    grid-template-columns: 570px 570px;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  padding: 0;
  gap: 20px;
  width: fit-content;
  white-space: nowrap;
  position: relative;
  background-color: $color-white;
  padding-inline: 20px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    padding-inline: 40px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    top: 16px;
    right: 0;
    background-color: $color-green;
    box-shadow: 100vw 0 $color-green;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 22px;
    }

    @media (min-width: $desktop-width) {
      top: 22px;
    }
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__label {
  display: flex;
}

.form__label:has(input[type="email"]),
.form__label:has(input[type="tel"]) {
  position: relative;

  &:focus-within {
    .form__input {
      box-shadow: inset $color-dark-gray;
      outline: none;
    }
    --icon-color: #68b738;
    outline: none;
  }

  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    right: 12px;
    top: 12px;
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    box-sizing: border-box;
    background-color: var(--icon-color, $color-black);
  }

  &:has(input[type="email"]) {
    &::after {
      content: "";
      mask-image: url("../../icons/stack.svg#email");

      @media (min-width: $tablet-width) {
        top: 16px;
        right: 14px;
      }

      @media (min-width: $desktop-width) {
        top: 15px;
        right: 16px;
      }
    }
  }

  &:has(input[type="tel"]) {
    &::after {
      content: "";
      mask-image: url("../../icons/stack.svg#phone");

      @media (min-width: $tablet-width) {
        top: 16px;
        right: 14px;
      }

      @media (min-width: $desktop-width) {
        top: 16px;
        right: 16px;
      }
    }
  }
}

.form__input {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid $color-special-gray-3;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &[type="radio"],
  &[type="checkbox"] {
    appearance: none;
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $color-special-gray;
    display: grid;
    background-color: $color-white;
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }

  &[type="radio"] {
    border-radius: 50%;

    &::after {
      background: url("../../icons/stack.svg#circle") no-repeat center / 13px 13px;

      @media (min-width: $tablet-width) {
        background-size: 18px;
      }
    }
  }

  &[type="checkbox"] {
    &::after {
      background: url("../../icons/stack.svg#mark") no-repeat center / 20px;

      @media (min-width: $tablet-width) {
        background-size: 26px;
      }
    }
  }

  &:checked {
    --is-checked: 1;
  }

  &::after {
    content: "";
    transform: scale(var(--is-checked, 0));
  }
}


.form__name {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: form__button-wrapper;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    margin-bottom: 79px;
  }
}

.form__button {
  margin: 0 auto 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;


  @media (min-width: $tablet-width) {
    width: 284px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__text-important {
  text-align: center;
  color: $color-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}
