.forms {
  margin: 0;
  padding: 27px 0 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.forms::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-special-gray-2;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.forms__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 20px 37px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    font-size: 60px;
    padding: 0 0 0 40px;
    margin: 65px 30px 0;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.forms__text {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 230px;
  margin: 0 20px 39px;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    font-size: 20px;
    width: 323px;
  }
}

.forms__data {
  //
}
