.form-extra {
  grid-area: form-extra;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.form-extra .form__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form-extra__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 304px auto;
    gap: 32px 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
  }
}
