.form-extra {
  grid-area: form-extra;
}

.form-extra .form__title {
  margin-bottom: 34px;
}

.form-extra .form__item {
  height: 30px;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form-extra__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
  }
}
