.forms {
  position: relative;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-inline: 40px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 0;
  }
}

.forms::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $color-special-gray-2;
  top: 0;
  left: 0;
  padding-inline: 20px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.forms__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    font-size: 60px;
    margin: 65px 0 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 74px 0 55px;
  }
}

.forms__text {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 230px;
  margin: 0 0 39px;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    font-size: 20px;
    width: 323px;
    margin-bottom: 66px;
  }
}

.forms__data {
  //
}
