.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas: "cat-data cat-program" "data-person data-person" "form-comment form-comment" "form-extra form-extra" "form__button-wrapper form__button-wrapper";
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  gap: 20px;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.form__title::after {
  content: "";
  height: 2px;
  width: 100%;
  margin-top: 15px;
  margin-right: -20px;
  background-color: $color-green;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item {
  //
}

.form__label:has(input[type="email"]),
.form__label:has(input[type="tel"]) {
  position: relative;

  &:focus-within {
    .form__input {
      box-shadow: inset $color-dark-gray;
      outline: none;
    }
    --icon-color: #68b738;
    outline: none;
  }

  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    right: 12px;
    top: 12px;
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    box-sizing: border-box;
    background-color: var(--icon-color, $color-black);
  }

  &:has(input[type="email"]) {
    &::after {
      content: "";
      mask-image: url("../../icons/stack.svg#email");
    }
  }

  &:has(input[type="tel"]) {
    &::after {
      content: "";
      mask-image: url("../../icons/stack.svg#phone");
    }
  }
}

.form__input {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $color-special-gray-3;
  box-sizing: border-box;

  &:hover {
    border: 1px solid $color-special-gray;
  }

  &:focus {
    border: 1px solid $color-dark-gray;
  }
}

.form__name {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: form__button-wrapper;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.form__button {
  margin: 0 auto 21px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 284px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__text-important {
  text-align: center;
  color: $color-black;
  font-size: 14px;
  line-height: 16px;
}
