.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 24px;
  line-height: 26px;
}

.form__fieldset {
  //
}

.form__list {
  //
}

.form__item {
  //
}

.form__label {
  //
}

.form__input {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__name {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
  //
}

.form__text-important {
  text-align: center;
  color: $color-black;
  font-size: 14px;
  line-height: 16px;
}
