.form-comment {
  grid-area: form-comment;
  display: grid;
  gap: 38px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    gap: 87px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    gap: 78px;
  }
}

.form-comment__textarea {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  border: 1px solid $color-special-gray-3;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 150px;
  padding: 14px;
  resize: vertical;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    min-height: 175px;
  }

  @media (min-width: $tablet-width) {
    padding: 9px 20px;
  }
}
