.gift {
  background-color: $color-green;
  color: $color-white;
  text-align: center;
  background-image:
    linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../images/gift-mobile@1x.jpg");
  background-size: cover;
  width: 280px;
  height: 290px;
  position: relative;
  margin: 0 20px;
}

.gift::after {
  position: absolute;
  content: "";
  top: 59px;
  left: 101px;
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#gift");
}

.gift__description {
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  display: block;
  padding-top: 187px;
}
