.index__wrapper {
  background-color: $color-basic-gray;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $color-white;

    &::before {
      position: absolute;
      content: "";
      background-color: #f2f2f2;
      height: 462px;
      width: 100%;
      bottom: -100px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 598px;

    &::before {
      bottom: 0;
    }
  }
}
