.living-example {
  background-color: $color-basic-gray;
}

.living-example__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 36px;
  line-height: 40px;
}

.living-example__text {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 18px;
}

.living-example__list {

}

.living-example__item {

}

.living-example__price {

}
