.living-example {
  background-color: $color-basic-gray;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.living-example__title {
  font-family: "Oswald", sans-serif;
  color: $color-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto 76px;
  }
}

.living-example__text {
  color: $color-dark-gray;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 55px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0 0 69px;
    z-index: 1;
  }
}

.living-example__list {
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 124px 124px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 0 100px;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    flex-wrap: wrap;
    z-index: 1;
    gap: 60px 42px;
    margin-bottom: 75px;
  }
}

.living-example__item {
  display: grid;
  width: 124px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.living-example__price {
  //
}

.living-example__wrapper {
  @media (min-width: $desktop-width) {
    //
  }
}

.living-example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    position: relative;
    padding-top: 70px;
  }
}
