.main-header {
  background-color: $color-white;
  margin: 13px 20px 14px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


.main-header__button {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#button-menu");
  background-repeat: no-repeat;
  background-color: $color-white;
  background-position: center;
  border: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .main-header__button {
    display: none;
  }
}

.main-header__navigation {
  //
}
