.navigation {
  //
}

.navigation__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: end;
    background-color: transparent;
  }
}

.navigation__item {
  margin-inline: -20px;
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 1px $color-special-gray-6, 0 1px $color-special-gray-6;
}

.navigation__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
}
