.promo {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 662px;
    margin: 0 auto;
  }
}

.promo__container {
  background-color: $color-green;
  color: $color-white;
  width: auto;
  height: 302px;
  margin-bottom: 138px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/background-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    background-image: none;
    background-color: $color-white;
    color: $color-black;
    padding: 65px 200px 21px 90px;
    margin: 0 30px 630px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 110px 100px 0 80px;
    margin: 0 auto;
    background-image: none;
    background-color: $color-white;
    z-index: -2;
    color: $color-black;
  }
}

.promo__title {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__text {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__image {
  position: absolute;
  top: 167px;
  translate: 50%;
  right: 50%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 266px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 29px;
    left: 170px;
  }
}

.promo__link {
  text-align: center;
  text-decoration: none;
  display: block;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    position: absolute;
    top: 295px;
    margin-left: 90px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
