.promo {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 20px;
}

.promo__container {
  background-color: $color-green;
  color: $color-white;
  width: 320px;
  height: 302px;
  margin-bottom: 138px;
  opacity: 85%;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/background-mobile@1x.jpg");
  background-size: cover;
  position: relative;
}

.promo__title {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.promo__text {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  position: absolute;
  top: 167px;
}

.promo__link {
  text-align: center;
  text-decoration: none;
  display: block;
  min-width: 280px;
  margin: 0 20px;
}
