.show-more {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 78px 0 24px;

  background-image: url("../../icons/stack.svg#plus");
  background-size: 30px 30px;
  background-position: center 25px;
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    padding: 148px 37px 40px;
    border: 2px solid $color-basic-gray;
    background-size: 60px 60px;
    background-position: center 50px;
  }
}

.show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-black-1;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 25px;
    width: 134px;
    align-self: center;
  }
}

.show-more__text {
  color: $color-dark-gray;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    width: 170px;
    align-self: center;
  }
}

.show-more__button {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-dark-gray;
  background-color: $color-basic-gray;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }

  &:hover {
    background-color: $color-special-gray-4;
  }

  &:active {
    opacity: 60%;
  }
}
