.show-more {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 78px 0 24px;

  @media (min-width: $tablet-width) {
    border: 2px solid $color-basic-gray;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-basic-gray-2;
      width: 60px;
      height: 2px;
      top: 80px;
      left: 50%;
      right: 50%;
      margin-left: -30px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $color-basic-gray-2;
      width: 2px;
      height: 60px;
      top: 50px;
      left: 50%;
      right: 50%;
    }
  }
}

.show-more__title {
  font-family: "Oswald", sans-serif;
  color: $color-black-1;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 23px;
  }
}

.show-more__text {
  color: $color-dark-gray;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
}

.show-more__button {
  font-family: "Oswald", sans-serif;
  color: $color-dark-gray;
  background-color: $color-basic-gray;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
