.slider {
  margin: 0 auto;
  display: flex;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 256px;
    background-color: $color-dark-gray-2;
    top: 0;
    left: 138px;
    border-radius: 2px;
  }
}

.slider__left {
  object-fit: cover;
  object-position: left;
  width: 140px;
}

.slider__right {
  object-position: right;
  object-fit: cover;
  width: 140px;
}

.slider__button {
  position: absolute;
  content: "";
  border: 2px solid $color-dark-gray-2;
  width: 40px;
  height: 40px;
  top: 108px;
  left: 120px;
  border-radius: 50%;
  background-color: $color-white;
  order: 1;

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    mask-image: url("../../images/icons/stack.svg#button-slider");
    mask-repeat: no-repeat;
    margin-left: -20px;
    margin-top: -20px;
    background-color: $color-dark-gray-2;
    order: 1;
  }

  &:hover {
    border-color: $color-green;

    &:hover::after {
      background-color: $color-green;
    }
  }
}
