.slider {
  margin: 0 auto;
  display: flex;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin-bottom: 103px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;
    top: -135px;
  }
}

.slider__left {
  overflow: hidden;
  z-index: 1;
}

.slider__right {
  display: flex;
  justify-content: end;
  overflow: hidden;
  z-index: 1;
}

.slider__stick {
  height: 256px;
  width: 6px;
  border-radius: 4px;
  background-color: $color-dark-gray-2;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: 100%;
  }

  &:hover {
    background-color: $color-green;

    .slider__button {
      border-color: $color-green;

      &::after {
        background-color: $color-green;
      }
    }
  }

  &:active {
    opacity: 60%;
  }
}

.slider__button {
  position: absolute;
  content: "";
  border: 2px solid $color-dark-gray-2;
  width: 40px;
  height: 40px;
  top: 108px;
  left: -18px;
  border-radius: 50%;
  background-color: $color-white;
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 236px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    mask-image: url("../../icons/stack.svg#button-slider");
    mask-repeat: no-repeat;
    margin-left: -20px;
    margin-top: -20px;
    background-color: $color-dark-gray-2;
    z-index: 1;
  }
}

.slider__photo {
  max-width: unset;
}
