.social {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 132px;
  height: 22px;
  padding: 0;
  align-self: center;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  align-self: center;
}

.social__link {
  background-color: $color-dark-gray-2;

  &:hover::after {
    background-color: $color-green;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--icon_vk {
    --icon-url: url("../../icons/stack.svg#vk");
  }

  &--icon_youtube {
    --icon-url: url("../../icons/stack.svg#youtube");
  }

  &--icon_telegram {
    --icon-url: url("../../icons/stack.svg#telegram");
  }

  &::after {
    display: block;
    content: "";
    width: 28px;
    height: 22px;
    background-color: $color-dark-gray-2;
    mask: var(--icon-url) no-repeat center / 28px 22px;
  }
}
