.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 132px;
  height: 22px;
  padding: 0;
  align-self: center;
  margin: 20px 0;
}

.social__item {
  align-self: center;
}

.social__link {
  width: 28px;
  height: 22px;
  position: relative;
  background-color: $color-dark-gray-2;

  &:hover::after {
    background-color: $color-green;
  }

  &:active::after {
    opacity: 0.3;
  }

  &:focus-within::after {
    background-color: $color-green;
  }


  &::after {
    display: block;
    content: "";
    width: 28px;
    height: 22px;
    margin-top: -11px;
    margin-left: -14px;
    mask-image: var(--icon-url);
    background-color: $color-dark-gray-2;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: var(--icon-size);
  }
}

.social__link--icon_vk {
  --icon-url: url("../../icons/stack.svg#vk");
  --icon-size: 27px 17px;
}

.social__link--icon_youtube {
  --icon-url: url("../../icons/stack.svg#youtube");
  --icon-size: 24px 19px;
}

.social__link--icon_telegram {
  --icon-url: url("../../icons/stack.svg#telegram");
  --icon-size: 20px 17px;
}
