@charset "UTF-8";
/* GLOBAL */
/* здесь используйте глобальные переменные */
/* Color */
/* Viewports */
/* здесь подключите шрифты */
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/400.woff2") format("woff2");
  font-display: swap;
}
/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BLOCKS */
.button {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  padding: 10px 0;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.page__centerer {
  margin-inline: 20px;
}
@media (min-width: 768px) {
  .page__centerer {
    margin-inline: 30px;
  }
}
@media (min-width: 1280px) {
  .page__centerer {
    inline-size: 1220px;
    margin-inline: auto;
  }
}

.main-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header {
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .main-header {
    background-color: transparent;
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-header__logo {
    width: 177px;
    height: 50px;
    gap: 13px;
  }
}
@media (min-width: 1280px) {
  .main-header__logo {
    gap: 14px;
  }
}

.main-header__button {
  width: 24px;
  height: 24px;
  background-image: url("../icons/stack.svg#button-menu");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border: none;
}
.main-header__button:hover {
  opacity: 0.8;
}
.main-header__button:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .main-header__button {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-header__navigation--wrapper {
    position: relative;
    width: 690px;
  }
}

@media (min-width: 1280px) {
  .main-header__navigation--wrapper a {
    color: #ffffff;
  }
}

@media (min-width: 1280px) {
  .main-header__navigation--wrapper::before {
    width: 720px;
    height: 694px;
    top: -69px;
    position: absolute;
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../images/background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #68b738;
    z-index: -1;
  }
}

.logo {
  text-decoration: none;
}

.navigation {
  display: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .navigation {
    display: block;
  }
}
@media (min-width: 1280px) {
  .navigation {
    background-color: transparent;
  }
}

.navigation__list {
  list-style: none;
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .navigation__list {
    justify-content: end;
    background-color: transparent;
  }
}

.navigation__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.index__wrapper {
  background-color: #f2f2f2;
  position: relative;
}
@media (min-width: 768px) {
  .index__wrapper {
    background-color: #ffffff;
  }
  .index__wrapper::before {
    position: absolute;
    content: "";
    background-color: #f2f2f2;
    height: 462px;
    width: 100%;
    bottom: 0;
  }
}
.promo {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1280px) {
  .promo {
    height: 662px;
  }
}

.promo__container {
  background-color: #68b738;
  color: #ffffff;
  width: auto;
  height: 302px;
  margin-bottom: 138px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../images/background-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .promo__container {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
    padding: 65px 200px 21px 90px;
    margin: 0 30px 630px;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .promo__container {
    width: 1220px;
    padding: 110px 100px 0 80px;
    margin: 0 auto;
    background-image: none;
    background-color: #ffffff;
    z-index: -2;
    color: #000000;
  }
}

.promo__title {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 90px;
  }
}
@media (min-width: 1280px) {
  .promo__title {
    margin-left: 80px;
  }
}

.promo__text {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: 90px;
  }
}
@media (min-width: 1280px) {
  .promo__text {
    margin-left: 80px;
  }
}

.promo__image {
  position: absolute;
  top: 167px;
  translate: 50%;
  right: 50%;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    top: 266px;
    z-index: -1;
  }
}
@media (min-width: 1280px) {
  .promo__image {
    top: 29px;
    left: 170px;
  }
}

.promo__link {
  text-align: center;
  text-decoration: none;
  display: block;
  min-width: 280px;
}
@media (min-width: 768px) {
  .promo__link {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    position: absolute;
    top: 295px;
    margin-left: 90px;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .promo__link {
    margin-left: 80px;
  }
}

.diet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .diet {
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .diet {
    flex-direction: row;
    gap: 80px;
  }
}

.diet__item {
  background-color: #f2f2f2;
  position: relative;
  display: flow-root;
  padding: 30px 33px 18px 20px;
  min-width: 280px;
  box-sizing: border-box;
}
.diet__item--icon_sit {
  --icon-shape: url("../icons/stack.svg#cat-sitting");
}
.diet__item--icon_stand {
  --icon-shape: url("../icons/stack.svg#cat-going");
}
.diet__item::before {
  content: "";
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  background-image: var(--icon-shape);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .diet__item::before {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 63px;
    top: 81px;
  }
}
.diet__item::after {
  position: absolute;
  content: "";
  height: 1px;
  width: auto;
  background-color: #d9d9d9;
  left: 20px;
  right: 20px;
  bottom: 57px;
}
@media (min-width: 768px) {
  .diet__item::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .diet__item {
    padding: 77px 316px 53px 52px;
  }
}
@media (min-width: 1280px) {
  .diet__item {
    width: 570px;
  }
}

.diet__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 29px;
  padding: 0;
}
@media (min-width: 768px) {
  .diet__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.diet__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .diet__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.diet__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  padding: 4px 47px 4px 0;
  margin-top: 38px;
  gap: 15px;
}
.diet__link:hover {
  --icon-position: 0;
}
.diet__link:active {
  opacity: 0.3;
}
.diet__link::after {
  content: "";
  align-self: center;
  background-image: url("../icons/stack.svg#arrow");
  background-position: var(--icon-position, -8px);
  background-repeat: no-repeat;
  width: 32px;
  height: 12px;
  transition: 0.1s ease-in-out;
}
@media (min-width: 768px) {
  .diet__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .advantages {
    position: relative;
    --is-underline: "";
  }
}
@media (min-width: 1280px) {
  .advantages {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}
.advantages::after {
  position: absolute;
  content: var(--is-underline, none);
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  bottom: 0;
  left: 0;
}

.advantages__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px 133px;
  }
}
@media (min-width: 1280px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.advantages__item {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  gap: 20px;
}
.advantages__item--icon_leaf {
  --icon-shape: url("../icons/stack.svg#leaf");
}
.advantages__item--icon_powder {
  --icon-shape: url("../icons/stack.svg#powder");
}
.advantages__item--icon_cutlery {
  --icon-shape: url("../icons/stack.svg#cutlery");
}
.advantages__item--icon_alarm {
  --icon-shape: url("../icons/stack.svg#alarm");
}
.advantages__item::after {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  order: -1;
  background-color: #68b738;
  background-image: var(--icon-shape);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .advantages__item::after {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    min-height: 280px;
    width: 250px;
  }
}

.advantages__text {
  padding: 2px 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.living-example {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .living-example {
    background-color: #ffffff;
  }
}
.living-example__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;
}
@media (min-width: 768px) {
  .living-example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .living-example__title {
    width: 1220px;
    margin: 0 auto 76px;
  }
}

.living-example__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .living-example__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .living-example__text {
    width: 436px;
  }
}

.living-example__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
@media (min-width: 768px) {
  .living-example__list {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .living-example__list {
    width: 380px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .living-example__container {
    display: flex;
  }
}

.example-time__text {
  color: #444444;
  font-size: 12px;
  line-height: 12px;
}

.example-time__value {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.example-price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .example-price {
    flex-direction: column;
    text-align: end;
    margin: 0 0 0 auto;
  }
}

.example-price__value {
  margin: 0;
}

.slider {
  margin: 0 auto;
  display: flex;
  position: relative;
}
.slider::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 256px;
  background-color: #666666;
  top: 0;
  left: 138px;
  border-radius: 2px;
}

.slider__left {
  object-fit: cover;
  object-position: left;
  width: 140px;
}

.slider__right {
  object-position: right;
  object-fit: cover;
  width: 140px;
}

.slider__button {
  position: absolute;
  content: "";
  border: 2px solid #666666;
  width: 40px;
  height: 40px;
  top: 108px;
  left: 120px;
  border-radius: 50%;
  background-color: #ffffff;
  order: 1;
}
.slider__button::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  -webkit-mask-image: url("../icons/stack.svg#button-slider");
          mask-image: url("../icons/stack.svg#button-slider");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  margin-left: -20px;
  margin-top: -20px;
  background-color: #666666;
  order: 1;
}
.slider__button:hover {
  border-color: #68b738;
}
.slider__button:hover::after {
  background-color: #68b738;
}

.forms {
  position: relative;
}
@media (min-width: 768px) {
  .forms {
    padding-left: 40px;
  }
}
@media (min-width: 1280px) {
  .forms {
    padding-left: 0;
  }
}

.forms::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .forms::after {
    display: none;
  }
}

.forms__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .forms__title {
    line-height: 60px;
    font-size: 60px;
    margin-top: 65px;
  }
}
.forms__text {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 230px;
}
@media (min-width: 768px) {
  .forms__text {
    line-height: 30px;
    font-size: 20px;
    width: 323px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .form {
    display: grid;
    grid-template-areas: "cat-data cat-program" "data-person data-person" "form-comment form-comment" "form-extra form-extra" "form__button-wrapper form__button-wrapper";
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  gap: 20px;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.form__title::after {
  content: "";
  height: 2px;
  width: 100%;
  margin-top: 15px;
  margin-right: -20px;
  background-color: #68b738;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__label:has(input[type=email]),
.form__label:has(input[type=tel]) {
  position: relative;
}
.form__label:has(input[type=email]):focus-within,
.form__label:has(input[type=tel]):focus-within {
  --icon-color: #68b738;
  outline: none;
}
.form__label:has(input[type=email]):focus-within .form__input,
.form__label:has(input[type=tel]):focus-within .form__input {
  box-shadow: inset #444444;
  outline: none;
}
.form__label:has(input[type=email])::after,
.form__label:has(input[type=tel])::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  right: 12px;
  top: 12px;
  -webkit-mask-size: 20px 20px;
          mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  box-sizing: border-box;
  background-color: var(--icon-color, #000000);
}
.form__label:has(input[type=email]):has(input[type=email])::after,
.form__label:has(input[type=tel]):has(input[type=email])::after {
  content: "";
  -webkit-mask-image: url("../icons/stack.svg#email");
          mask-image: url("../icons/stack.svg#email");
}
.form__label:has(input[type=email]):has(input[type=tel])::after,
.form__label:has(input[type=tel]):has(input[type=tel])::after {
  content: "";
  -webkit-mask-image: url("../icons/stack.svg#phone");
          mask-image: url("../icons/stack.svg#phone");
}

.form__input {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.form__input:hover {
  border: 1px solid #cdcdcd;
}
.form__input:focus {
  border: 1px solid #444444;
}

.form__name {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: form__button-wrapper;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    flex-direction: row;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .form__button-wrapper {
    gap: 80px;
  }
}

.form__button {
  margin: 0 auto 21px;
  width: 280px;
}
@media (min-width: 768px) {
  .form__button {
    width: 284px;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .form__button {
    width: 570px;
  }
}

.form__text-important {
  text-align: center;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
}

.cat-data {
  position: relative;
  grid-area: cat-data;
}

.cat-data::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .cat-data::after {
    display: none;
  }
}

.cat-data input {
  padding: 14px 15px 13px;
  box-sizing: border-box;
  width: 100%;
}

.cat-data .form__name {
  margin-right: 13px;
  white-space: nowrap;
  align-self: center;
}

.cat-data .form__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cat-data .form__item:not(:last-child) {
  margin-bottom: 14px;
}

.cat-program {
  position: relative;
  grid-area: cat-program;
}

.cat-program::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .cat-program::after {
    display: none;
  }
}

.cat-program .form__item {
  height: 30px;
}
.cat-program .form__item:not(:last-child) {
  margin-bottom: 13px;
}

.data-person {
  grid-area: data-person;
  min-width: 280px;
  box-sizing: border-box;
}

.data-person .form__title {
  margin-bottom: 35px;
}

.data-person .form__name {
  margin-right: 13px;
  white-space: nowrap;
  align-self: center;
}

.data-person .form__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data-person .form__item:not(:last-child) {
  margin-bottom: 14px;
}

.data-person input {
  padding: 14px 40px 13px 15px;
  width: 100%;
  box-sizing: border-box;
}

.data-person__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .data-person__list {
    display: grid;
    grid-template-columns: 570px auto;
    gap: 80px;
  }
}

.form-comment {
  grid-area: form-comment;
}

.form-comment .form__title {
  margin-bottom: 38px;
}

.form-comment__textarea {
  font-family: "Oswald", sans-serif;
  color: #444444;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 150px;
}

.form-extra {
  grid-area: form-extra;
}

.form-extra .form__title {
  margin-bottom: 34px;
}

.form-extra .form__item {
  height: 30px;
}
.form-extra .form__item:not(:last-child) {
  margin-bottom: 13px;
}

.form-extra__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .form-extra__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .form-extra__list {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
  }
}

.catalog {
  position: relative;
}

.catalog::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #000000;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.catalog-product__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog-product__list {
    flex-direction: row;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .catalog-product__list {
    gap: 80px;
  }
}

.catalog-product__item {
  width: 100%;
}
@media (min-width: 768px) {
  .catalog-product__item {
    width: 324px;
    height: 430px;
  }
}
@media (min-width: 1280px) {
  .catalog-product__item {
    width: 245px;
  }
}

.card__title {
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__button {
  width: 100%;
}

.card span {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.show-more__title {
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.show-more__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.show-more__button {
  font-family: "Oswald", sans-serif;
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding: 10px 0;
}

.extra {
  display: flex;
  flex-direction: column;
}

.extra__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .extra__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.extra__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  gap: 20px;
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.extra__title::after {
  content: "";
  height: 2px;
  width: 100%;
  margin-top: 15px;
  margin-right: -20px;
  background-color: #68b738;
}

.extra__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1280px) {
  .extra__list {
    width: 896px;
  }
}

.extra__item {
  display: grid;
}
@media (min-width: 1280px) {
  .extra__item {
    grid-template-columns: 325px 243px 82px 244px;
  }
}

.extra__name {
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra__quantity {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.extra__price {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.extra__gift {
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../images/gift-mobile@1x.jpg");
  background-size: cover;
  width: 280px;
  height: 290px;
  position: relative;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .extra__gift {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../images/gift-tablet@1x.jpg");
    width: 707px;
    height: 200px;
  }
}
@media (min-width: 1280px) {
  .extra__gift {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../images/gift-desktop@1x.jpg");
    width: 245px;
    height: 288px;
    margin: 0;
  }
}

.gift::after {
  position: absolute;
  content: "";
  top: 59px;
  left: 101px;
  width: 78px;
  height: 80px;
  background-image: url("../icons/stack.svg#gift");
}

.gift__description {
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  display: block;
  padding-top: 187px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__navigation {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .footer__navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__navigation::after {
  position: absolute;
  content: "";
  height: 1px;
  width: auto;
  background-color: #d9d9d9;
  top: 84px;
  left: 20px;
  right: 20px;
}
@media (min-width: 768px) {
  .footer__navigation::after {
    display: none;
  }
}

.footer__logo {
  margin: 0 auto;
  width: 128px;
  height: 24px;
  margin-bottom: 20px;
}
.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}

.footer__wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 60px 40px;
  }
}
@media (min-width: 1280px) {
  .contacts__wrapper {
    position: absolute;
    width: 565px;
    padding: 60px 80px;
    background-color: #ffffff;
    margin: 95px auto auto 110px;
  }
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 140px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.contacts__address-wraapper {
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contacts__address-wraapper {
    font-size: 16px;
    justify-content: space-between;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  object-fit: cover;
}

.contacts__wrapper--background {
  background-color: #f2f2f2;
}

.social {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 132px;
  height: 22px;
  padding: 0;
  align-self: center;
  margin: 20px 0;
}

.social__item {
  align-self: center;
}

.social__link {
  background-color: #666666;
}
.social__link:hover::after {
  background-color: #68b738;
}
.social__link:active::after {
  opacity: 0.3;
}
.social__link--icon_vk {
  --icon-url: url("../icons/stack.svg#vk");
}
.social__link--icon_youtube {
  --icon-url: url("../icons/stack.svg#youtube");
}
.social__link--icon_telegram {
  --icon-url: url("../icons/stack.svg#telegram");
}
.social__link::after {
  display: block;
  content: "";
  width: 28px;
  height: 22px;
  background-color: #666666;
  -webkit-mask: var(--icon-url) no-repeat center/28px 22px;
          mask: var(--icon-url) no-repeat center/28px 22px;
}

.copyright {
  position: relative;
}
.copyright::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  top: -20px;
  left: 0;
}
@media (min-width: 768px) {
  .copyright::after {
    display: none;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  margin: 20px 0 0;
  position: relative;
}
.copyright__link:hover .copyright__logo {
  background-color: #68b738;
}
.copyright__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .copyright__link {
    gap: 23px;
  }
}

.copyright__name {
  color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  -webkit-mask-image: url("../icons/stack.svg#html-academy");
          mask-image: url("../icons/stack.svg#html-academy");
  background-color: #666666;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}